@use "@zaydek/duomo" as * with ($headless: true);

:root {
	--theme-transition: #{theme-transition(700ms, timing(ease-out, $raw: true))};
}

:root {
	--bg-root: hsl(var(--gray-50));
	--bg-search-app: hsl(var(--white));
	--bg-search-app-content-search-bar: hsl(var(--white));
	--bg-search-app-sidebar-preview: hsl(var(--white));
	--bg-search-app-sidebar: hsl(var(--gray-50));
	--bg-less-important: hsl(var(--gray-200));
	--bg-important: hsl(var(--gray-300));
	--bg-more-important: hsl(var(--gray-400));
	--border-color-default: hsl(var(--gray-200));

	transition: var(--theme-transition);
}
[data-theme="dark"] {
	--bg-root: hsl(var(--gray-900));
	--bg-search-app: hsl(var(--gray-800));
	--bg-search-app-content-search-bar: hsl(var(--gray-800));
	--bg-search-app-sidebar-preview: hsl(var(--gray-800));
	--bg-search-app-sidebar: hsl(var(--gray-800));
	--bg-less-important: hsl(var(--gray-700));
	--bg-important: hsl(var(--gray-600));
	--bg-more-important: hsl(var(--gray-500));
	--border-color-default: hsla(var(--gray-900));
}

:root {
	background-color: var(--bg-root);
	transition: var(--theme-transition);
}
.bg-search-app {
	background-color: var(--bg-search-app);
	transition: var(--theme-transition);
}
.bg-search-app-content-search-bar {
	background-color: var(--bg-search-app-content-search-bar);
	transition: var(--theme-transition);
}
.bg-search-app-sidebar-preview {
	background-color: var(--bg-search-app-sidebar-preview);
	transition: var(--theme-transition);
}
.bg-search-app-sidebar {
	background-color: var(--bg-search-app-sidebar);
	transition: var(--theme-transition);
}
.bg-less-important {
	background-color: var(--bg-less-important);
	transition: var(--theme-transition);
}
.bg-important {
	background-color: var(--bg-important);
	transition: var(--theme-transition);
}
.bg-more-important {
	background-color: var(--bg-more-important);
	transition: var(--theme-transition);
}
[class*="border"] {
	transition: var(--theme-transition);
}

/*
 * Bento
 */

.bento {
	--bento-item-bg: hsl(var(--white));
	--bento-item-border: 1px solid hsl(var(--gray-300));
	--bento-item-svg-color: hsl(var(--gray-800));
}
[data-theme="dark"] .bento {
	--bento-item-bg: hsl(var(--gray-700));
	--bento-item-border: 1px solid transparent;
	--bento-item-svg-color: hsl(var(--gray-200));
}

.bento {
	margin-left: rem(-16);
	margin-right: rem(-16);

	display: grid;
	grid-template-rows: 0.62fr 0.38fr;
	grid-template-columns: 0.62fr 0.14fr 0.24fr;
	grid-template-areas:
		"a a a"
		"a a a";

	gap: rem(12);
	height: rem(320);
}
.bento-item:nth-child(1) {
	grid-area: a;
}
.bento-item:nth-child(2) {
	grid-area: b;
}
.bento-item:nth-child(3) {
	grid-area: c;
}
.bento-item:nth-child(4) {
	grid-area: d;
}
.bento-item {
	background-color: var(--bento-item-bg);
	border: var(--bento-item-border);
	border-radius: rem(6);
	transition: var(--theme-transition);
}
.bento-item-svg {
	color: var(--bento-item-svg-color);
	transition: var(--theme-transition);
}
@media (min-width: px(breakpoint(sm))) {
	.bento {
		margin-left: 0; // Reset
		margin-right: 0; // Reset
		border-radius: rem(6);
	}
}
@media (min-width: px(breakpoint(lg))) {
	.bento {
		grid-template-areas:
			"a b b"
			"a d c";
	}
}
