@use "@zaydek/duomo" as * with (
	$headless: true,
	$skeleton: true,
);

/*
 * Theme
 */
@mixin transition {
	$dur: 700ms;
	$timing: timing(ease-out, $raw: true);
	transition: $dur background-color $timing, $dur border-color $timing;
}

:root {
	--bg-root: hsl(var(--gray-50));
	--bg-search-app: hsl(var(--white));
	--bg-search-app-sidebar-preview: hsl(var(--white));
	--bg-search-app-sidebar: hsl(var(--gray-50));
	--bg-less-important: hsl(var(--gray-200));
	--bg-important: hsl(var(--gray-300));
	--bg-more-important: hsl(var(--gray-400));
	--border-hr: hsl(var(--gray-200));

	@include transition;
}

[data-theme="dark"] {
	--bg-root: hsl(var(--gray-900));
	--bg-search-app: hsl(var(--gray-800));
	--bg-search-app-sidebar-preview: hsl(var(--gray-800));
	--bg-search-app-sidebar: hsl(var(--gray-800));
	--bg-less-important: hsl(var(--gray-700));
	--bg-important: hsl(var(--gray-600));
	--bg-more-important: hsl(var(--gray-500));
	--border-hr: hsla(var(--gray-900));
}

:root {
	background-color: var(--bg-root);
	@include transition;
}
.bg-search-app {
	background-color: var(--bg-search-app);
	@include transition;
}
.bg-search-app-sidebar-preview {
	background-color: var(--bg-search-app-sidebar-preview);
	@include transition;
}
.bg-search-app-sidebar {
	background-color: var(--bg-search-app-sidebar);
	@include transition;
}
.bg-less-important {
	background-color: var(--bg-less-important);
	@include transition;
}
.bg-important {
	background-color: var(--bg-important);
	@include transition;
}
.bg-more-important {
	background-color: var(--bg-more-important);
	@include transition;
}
.border-hr {
	border-color: var(--border-hr);
	@include transition;
}
