@use "@zaydek/duomo" as * with ($headless: true);

@mixin theme-transition {
	$theme-duration: 500ms;
	$theme-timing: timing(ease-out, $raw: true);

	// prettier-ignore
	--theme-transition: background-color #{$theme-duration} #{$theme-timing}, border-color #{$theme-duration} #{$theme-timing}, box-shadow #{$theme-duration} #{$theme-timing}, color #{$theme-duration} #{$theme-timing}, fill #{$theme-duration} #{$theme-timing}, opacity #{$theme-duration} #{$theme-timing}, stroke #{$theme-duration} #{$theme-timing}, transform #{$theme-duration} #{$theme-timing};
}

:root {
	--bg-root: hsl(var(--gray-50));
	--bg-search-app: hsl(var(--white));
	--bg-search-app-content-search-bar: hsl(var(--white));
	--bg-search-app-sidebar-preview: hsl(var(--white));
	--bg-search-app-sidebar: hsl(var(--gray-50));
	--bg-less-important: hsl(var(--gray-200));
	--bg-important: hsl(var(--gray-300));
	--bg-more-important: hsl(var(--gray-400));
	--border-hr: hsl(var(--gray-200));

	@include theme-transition;
}
[data-theme="dark"] {
	--bg-root: hsl(var(--gray-900));
	--bg-search-app: hsl(var(--gray-800));
	--bg-search-app-content-search-bar: hsl(var(--gray-800));
	--bg-search-app-sidebar-preview: hsl(var(--gray-800));
	--bg-search-app-sidebar: hsl(var(--gray-800));
	--bg-less-important: hsl(var(--gray-700));
	--bg-important: hsl(var(--gray-600));
	--bg-more-important: hsl(var(--gray-500));
	--border-hr: hsla(var(--gray-900));
}

:root {
	background-color: var(--bg-root);
	transition: var(--theme-transition);
}
.bg-search-app {
	background-color: var(--bg-search-app);
	transition: var(--theme-transition);
}
.bg-search-app-content-search-bar {
	background-color: var(--bg-search-app-content-search-bar);
	transition: var(--theme-transition);
}
.bg-search-app-sidebar-preview {
	background-color: var(--bg-search-app-sidebar-preview);
	transition: var(--theme-transition);
}
.bg-search-app-sidebar {
	background-color: var(--bg-search-app-sidebar);
	transition: var(--theme-transition);
}
.bg-less-important {
	background-color: var(--bg-less-important);
	transition: var(--theme-transition);
}
.bg-important {
	background-color: var(--bg-important);
	transition: var(--theme-transition);
}
.bg-more-important {
	background-color: var(--bg-more-important);
	transition: var(--theme-transition);
}
.border-hr {
	border-color: var(--border-hr);
	transition: var(--theme-transition);
}

.prose {
	--prose-block-space: #{rem(32)};

	// NOTE: Use `em` for `--prose-code`.
	--prose-head-h1: 600 #{rem(32)} / 1.4 var(--sans), var(--ui-sans);
	--prose-head-h2: 600 #{rem(24)} / 1.4 var(--sans), var(--ui-sans);
	--prose-head-h3: 600 #{rem(24)} / 1.4 var(--sans), var(--ui-sans);
	--prose-head-h4: 600 #{rem(24)} / 1.4 var(--sans), var(--ui-sans);
	--prose-head-h5: 600 #{rem(24)} / 1.4 var(--sans), var(--ui-sans);
	--prose-head-h6: 600 #{rem(24)} / 1.4 var(--sans), var(--ui-sans);
	--prose-text: #{rem(18)} / 1.5 var(--sans), var(--ui-sans);
	--prose-text-small: #{rem(14)} / 1.8 var(--sans), var(--ui-sans);
	--prose-code: #{em(14)} / 1.5 var(--mono), var(--ui-mono);
	--prose-code-pre: #{rem(15)} / 1.6 var(--mono), var(--ui-mono);

	--prose-head-h1-space: #{rem(32 / 2)};
	--prose-head-h2-space: #{rem(32 / 2)};
	--prose-head-h3-space: #{rem(32 / 2)};
	--prose-head-h4-space: #{rem(32 / 2)};
	--prose-head-h5-space: #{rem(32 / 2)};
	--prose-head-h6-space: #{rem(32 / 2)};
	--prose-text-space: #{rem(32 / 2)};

	--prose-code-padding: #{rem(2) rem(4)};
	--prose-code-rounded: #{rem(3)};

	--prose-code-pre-padding: #{rem(16) rem(24)};
	--prose-code-pre-rounded: #{rem(6)};
}

.prose {
	--prose-head-h1-color: hsl(var(--black));
	--prose-head-h2-color: hsl(var(--black));
	--prose-head-h3-color: hsl(var(--black));
	--prose-head-h4-color: hsl(var(--black));
	--prose-head-h5-color: hsl(var(--black));
	--prose-head-h6-color: hsl(var(--black));
	--prose-text-color: hsl(var(--gray-800));
	--prose-text-small-color: hsl(var(--gray-700));

	--prose-code-color: hsl(220, 83.33%, 50%);
	--prose-code-bg: hsl(var(--white));
	--prose-code-border: 1px solid hsl(var(--gray-300));

	--prose-code-pre-color: hsl(var(--gray-100));
	--prose-code-pre-bg: hsl(var(--gray-800));
	--prose-code-pre-border: none;
}
[data-theme="dark"] .prose {
	--prose-head-h1-color: hsl(var(--gray-100));
	--prose-head-h2-color: hsl(var(--gray-100));
	--prose-head-h3-color: hsl(var(--gray-100));
	--prose-head-h4-color: hsl(var(--gray-100));
	--prose-head-h5-color: hsl(var(--gray-100));
	--prose-head-h6-color: hsl(var(--gray-100));
	--prose-text-color: hsl(var(--gray-200));
	--prose-text-small-color: hsl(var(--gray-300));

	--prose-code-color: var(--gray-100);
	--prose-code-bg: hsl(var(--gray-700));
	--prose-code-border: 1px solid var(--transparent);

	--prose-code-pre-color: hsl(var(--gray-100));
	--prose-code-pre-bg: hsl(var(--gray-700));
	--prose-code-pre-border: none;
}

// .prose > * {
// 	transition: var(--theme-transition);
// }

.prose {
	font: var(--prose-text);
	color: var(--prose-text-color);
	transition: var(--theme-transition);
}
.prose > * + * {
	margin-top: var(--prose-block-space);
}
.prose h1 {
	font: var(--prose-head-h1);
	color: var(--prose-head-h1-color);
	transition: var(--theme-transition);
}
.prose h2 {
	font: var(--prose-head-h2);
	color: var(--prose-head-h2-color);
	transition: var(--theme-transition);
}
.prose h3 {
	font: var(--prose-head-h3);
	color: var(--prose-head-h3-color);
	transition: var(--theme-transition);
}
.prose h4 {
	font: var(--prose-head-h4);
	color: var(--prose-head-h4-color);
	transition: var(--theme-transition);
}
.prose h5 {
	font: var(--prose-head-h5);
	color: var(--prose-head-h5-color);
	transition: var(--theme-transition);
}
.prose h6 {
	font: var(--prose-head-h6);
	color: var(--prose-head-h6-color);
	transition: var(--theme-transition);
}
@each $head in (h1, h2, h3, h4, h5, h6) {
	.prose #{$head} + p {
		margin-top: var(--prose-head-#{$head}-space);
	}
}
.prose p + p {
	margin-top: var(--prose-text-space);
}
.prose small {
	font: var(--prose-text-small);
	color: var(--prose-text-small-color);
	transition: var(--theme-transition);
}
.prose *:not(pre) code {
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
	padding: var(--prose-code-padding);
	font: var(--prose-code);
	color: var(--prose-code-color);
	background-color: var(--prose-code-bg);
	border: var(--prose-code-border);
	border-radius: var(--prose-code-rounded);
	transition: var(--theme-transition);
}
.prose pre {
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
	padding: var(--prose-code-pre-padding);
	font: var(--prose-code-pre);
	color: var(--prose-code-pre-color);
	background-color: var(--prose-code-pre-bg);
	border: var(--prose-code-pre-border);
	border-radius: var(--prose-code-pre-rounded);
	transition: var(--theme-transition);
}
