@use "duomo" as *;

#icons {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(rem(128), 1fr));
	gap: rem(16);
}

#bento {
	display: grid;
	grid-template-rows: 0.62fr 0.38fr;
	grid-template-columns: 0.62fr 0.14fr 0.24fr;
	grid-template-areas:
		"a a a"
		"a a a";

	gap: rem(12);
	height: rem(320);
}

#bento > :nth-child(1) {
	grid-area: a;
}
#bento > :nth-child(2) {
	grid-area: b;
}
#bento > :nth-child(3) {
	grid-area: c;
}
#bento > :nth-child(4) {
	grid-area: d;
}

@media (min-width: breakpoint(lg)) {
	#bento {
		grid-template-areas:
			"a b b"
			"a d c";
	}
}

#demos {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(rem(256), 1fr));
	grid-auto-rows: rem(160);
	gap: rem(12);
}
