$short-range: 0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 12, 14, 16, 20, 24, 28, 32;

@function rem($value) {
	@return $value / 16 + rem;
}

.grid {
	display: grid;
}

@for $x from 0 through 12 {
	.grid-rows-#{$x} {
		grid-template-rows: repeat(#{$x}, minmax(0, 1fr));
	}
}

@for $x from 0 through 12 {
	.grid-cols-#{$x} {
		grid-template-columns: repeat(#{$x}, minmax(0, 1fr));
	}
}

@each $value in $short-range {
	.gap-#{$value} {
		gap: #{rem($value)};
	}
}
@each $value in $short-range {
	.gap-x-#{$value} {
		column-gap: #{rem($value)};
	}
}
@each $value in $short-range {
	.gap-y-#{$value} {
		row-gap: #{rem($value)};
	}
}
