@use "duomo" as * with ($xl: 1280 + 64);

.t-16 {
	top: rem(16);
}
@media (min-width: px($xl)) {
	.xl\:t-16 {
		top: rem(16);
	}
}

.grid-cols-128 {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(rem(128), 1fr));
}

// https://ratiobuddy.com
.aspect-ratio-1\:1 {
	position: relative;
}
.aspect-ratio-1\:1::before {
	display: block;
	content: "";
	width: 100%;
	padding-top: (1 / 1) * 100%;
}
.aspect-ratio-1\:1 > * {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.fill-current {
	fill: currentColor;
}
.stroke-0 {
	stroke-width: 0;
}

html {
	@each $k, $v in $shadow-map {
		--shadow-#{$k}: #{$v};
	}
}
