@use "@zaydek/duomo" as * with ($headless: true);

/*
 * Prose
 */

.prose {
	--prose-flow-margin: #{rem(32)};
	--prose-head-h1-margin: #{rem(32 / 2)};
	--prose-head-h2-margin: #{rem(32 / 2)};
	--prose-head-h3-margin: #{rem(32 / 2)};
	--prose-text-margin: #{rem(32 / 2)};

	--prose-head-h1: 600 #{rem(32)} / 1.4 var(--sans), var(--ui-sans);
	--prose-head-h2: 600 #{rem(24)} / 1.4 var(--sans), var(--ui-sans);
	--prose-head-h3: 600 #{rem(24)} / 1.4 var(--sans), var(--ui-sans);
	--prose-text: #{rem(18)} / 1.5 var(--sans), var(--ui-sans);
	--prose-text-small: #{rem(14)} / 1.8 var(--sans), var(--ui-sans);
	--prose-code: #{em(14)} / 1.5 var(--mono), var(--ui-mono);
	--prose-code-pre: #{rem(15)} / 1.6 var(--mono), var(--ui-mono);

	--prose-code-padding: #{rem(2) rem(4)};
	--prose-code-rounded: #{rem(3)};

	--prose-code-pre-padding: #{rem(16) rem(24)};
	--prose-code-pre-rounded: #{rem(6)};
}

/*
 * Theme
 */

.prose {
	--prose-head-h1-color: hsl(var(--black));
	--prose-head-h2-color: hsl(var(--black));
	--prose-head-h3-color: hsl(var(--black));
	--prose-text-color: hsl(var(--gray-800));
	--prose-text-anchor-color: hsl(var(--gray-600));
	--prose-text-small-color: hsl(var(--gray-700));

	--prose-code-color: hsl(220, 83.33%, 50%);
	--prose-code-bg: hsl(var(--white));
	--prose-code-border: 1px solid hsl(var(--gray-300));

	--prose-code-pre-color: hsl(var(--gray-100));
	--prose-code-pre-bg: hsl(var(--gray-800));
	--prose-code-pre-border: none;
}
[data-theme="dark"] .prose {
	--prose-head-h1-color: hsl(var(--gray-100));
	--prose-head-h2-color: hsl(var(--gray-100));
	--prose-head-h3-color: hsl(var(--gray-100));
	--prose-text-color: hsl(var(--gray-200));
	--prose-text-anchor-color: hsl(var(--gray-100)); // NOTE: Use `gray-100` not `white`.
	--prose-text-small-color: hsl(var(--gray-300));

	--prose-code-color: var(--gray-100);
	--prose-code-bg: hsl(var(--gray-700));
	--prose-code-border: 1px solid var(--transparent);

	--prose-code-pre-color: hsl(var(--gray-100));
	--prose-code-pre-bg: hsl(var(--gray-700));
	--prose-code-pre-border: none;
}

.prose > * + * {
	margin-top: var(--prose-flow-margin);
}

// <article class="prose">
//   <div> <- Step over
//     ...
//   </div>
// </article>
//
.prose > :not(div) {
	font: var(--prose-text);
	color: var(--prose-text-color);
	transition: var(--theme-transition);
}

.prose h1 {
	font: var(--prose-head-h1);
	color: var(--prose-head-h1-color);
	transition: var(--theme-transition);
}
.prose h2 {
	font: var(--prose-head-h2);
	color: var(--prose-head-h2-color);
	transition: var(--theme-transition);
}
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
	font: var(--prose-head-h3);
	color: var(--prose-head-h3-color);
	transition: var(--theme-transition);
}
.prose h1 + p {
	margin-top: var(--prose-head-h1-margin);
}
.prose h2 + p {
	margin-top: var(--prose-head-h2-margin);
}
.prose h3 + p,
.prose h4 + p,
.prose h5 + p,
.prose h6 + p {
	margin-top: var(--prose-head-h3-margin);
}
.prose p + p {
	margin-top: var(--prose-text-margin);
}
.prose a {
	color: var(--prose-text-anchor-color);
	text-decoration: underline;
	transition: var(--theme-transition);
}
.prose small {
	font: var(--prose-text-small);
	color: var(--prose-text-small-color);
	transition: var(--theme-transition);
}
.prose *:not(pre) code {
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;

	padding: var(--prose-code-padding);
	font: var(--prose-code);
	color: var(--prose-code-color);
	background-color: var(--prose-code-bg);
	border: var(--prose-code-border);
	border-radius: var(--prose-code-rounded);
	transition: var(--theme-transition);
}
.prose pre {
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;

	padding: var(--prose-code-pre-padding);
	font: var(--prose-code-pre);
	color: var(--prose-code-pre-color);
	background-color: var(--prose-code-pre-bg);
	border: var(--prose-code-pre-border);
	border-radius: 0; // Reset
	transition: var(--theme-transition);

	/*
	 * Overrides
	 */

	margin-left: rem(-16);
	padding-left: rem(16);

	margin-right: rem(-16);
	padding-right: rem(16);
}
@media (min-width: px(breakpoint(sm))) {
	.prose pre {
		margin-left: 0; // Reset
		margin-right: 0; // Reset
		padding: var(--prose-code-pre-padding);
		border-radius: var(--prose-code-pre-rounded);
	}
}
