@import "./helpers";
@import "./vars";

// prettier-ignore
@mixin reset-margins {
	& > *:first-child { margin-top: 0; }
	& > *:last-child { margin-bottom: 0; }
}

.prose {
	@include reset-margins;

	$base-font-size: 18;
	font: 400 rem($base-font-size) / 1.6 $sans;
	color: var(--gray-800);

	& > * + * {
		margin-bottom: rem($base-font-size);
	}

	h1 {
		$font-size: 24;
		margin-top: em($font-size);
		margin-bottom: rem(8);
		font: 600 rem($font-size) / 1.4 $sans;
		color: var(--black);
	}
	h2 {
		$font-size: 20;
		margin-top: em($font-size);
		margin-bottom: rem(8);
		font: 600 rem($font-size) / 1.4 $sans;
		color: var(--black);
	}
	h3,
	h4,
	h5,
	h6 {
		$font-size: $base-font-size;
		margin-top: em($font-size);
		margin-bottom: rem(8);
		font: 600 rem($font-size) / 1.4 $sans;
		color: var(--black);
	}

	$list-offset: 24;

	ul {
		margin-left: rem($list-offset);
	}
	ul li {
		margin-top: rem(4);
		margin-bottom: rem(4);
	}
	ul li::before {
		margin-left: rem(-1 * $list-offset);
		position: absolute;
		content: "• ";
		color: var(--blue-500);
	}

	ol {
		margin-left: rem($list-offset);
	}
	ol li {
		margin-top: rem(4);
		margin-bottom: rem(4);
	}
	ol li:first-of-type {
		counter-reset: count;
	}
	ol li::before {
		margin-left: rem(-1 * $list-offset);
		position: absolute;
		content: counter(count) ". ";
		counter-increment: count;
		font-feature-settings: "tnum";
		color: var(--blue-500);
	}

	& [data-emoji] {
		font-size: 1.2em;
	}
	& em {
		font-style: italic;
	}
	& strong {
		font-weight: 600;
	}
	& code {
		@include no-macos-retina;
		padding: em(2) em(4);
		font-size: 0.8em;
		color: var(--blue-600);
		background-color: var(--white);
		border: rem(1) solid var(--gray-300);
		border-radius: em(4);
	}
	// & h1 code,
	// & h2 code,
	// & h3 code,
	// & h4 code,
	// & h5 code,
	// & h6 code {
	// 	@include macos-retina;
	// }
	& a {
		text-decoration: underline;
		color: var(--gray-600);
	}
	& small {
		font-size: 0.8em;
	}
}
