@use "@zaydek/duomo" as * with ($headless: true);

@mixin unantialiased {
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
}

/*
 * Prose
 */

// prettier-ignore
$map: (
	flow-margin: rem(32),
	head-h1-margin: rem(32 / 2),
	head-h2-margin: rem(32 / 2),
	head-h3-margin: rem(32 / 2),
	text-margin: rem(32 / 2),
	head-h1: (600 rem(32) / 1.4 var(--sans), var(--ui-sans)),
	head-h2: (600 rem(24) / 1.4 var(--sans), var(--ui-sans)),
	head-h3: (600 rem(24) / 1.4 var(--sans), var(--ui-sans)),
	text: (rem(18) / 1.5 var(--sans), var(--ui-sans)),
	text-small: (rem(14) / 1.8 var(--sans), var(--ui-sans)),
	code: (em(14) / 1.5 var(--mono), var(--ui-mono)),
	code-pre: (rem(15) / 1.6 var(--mono), var(--ui-mono)),
	code-padding: rem(2) rem(4),
	code-rounded: rem(3),
	code-pre-padding: rem(16) rem(24),
	code-pre-rounded: rem(6),
);

.prose {
	@each $mk, $mv in $map {
		--prose-#{$mk}: #{$mv};
	}
}

/*
 * Theme
 */

$light: (
	head-h1-color: color(black),
	head-h2-color: color(black),
	head-h3-color: color(black),
	text-color: color(cool-gray-800),
	text-anchor-color: color(cool-gray-600),
	text-small-color: color(cool-gray-700),
	hr-border: 2px solid color(cool-gray-200),
	code-color: hsl(220, 83.33%, 50%),
	code-bg: color(white),
	code-border: 1px solid color(cool-gray-300),
	code-pre-color: color(cool-gray-100),
	code-pre-bg: color(cool-gray-800),
	code-pre-border: none,
);

$dark: (
	head-h1-color: color(cool-gray-100),
	head-h2-color: color(cool-gray-100),
	head-h3-color: color(cool-gray-100),
	text-color: color(cool-gray-200),
	text-anchor-color: color(cool-gray-100),
	text-small-color: color(cool-gray-300),
	hr-border: 2px solid color(cool-gray-700),
	code-color: var(--gray-100),
	code-bg: color(cool-gray-700),
	// https://github.com/zaydek/duomo/issues/203
	code-border: 1px solid transparent,
	code-pre-color: color(cool-gray-100),
	code-pre-bg: color(cool-gray-700),
	code-pre-border: none,
);

.prose {
	@each $mk, $mv in $light {
		--prose-#{$mk}: #{$mv};
	}
}

[data-theme="dark"] .prose {
	@each $mk, $mv in $dark {
		--prose-#{$mk}: #{$mv};
	}
}

.prose > * + * {
	margin-top: var(--prose-flow-margin);
}

// <article class="prose">
//   <div> <- Step over
//     ...
//   </div>
// </article>
//
.prose > :not(div) {
	font: var(--prose-text);
	color: var(--prose-text-color);
	transition: var(--theme-transition);
}

.prose h1 {
	font: var(--prose-head-h1);
	color: var(--prose-head-h1-color);
	transition: var(--theme-transition);
}
.prose h2 {
	font: var(--prose-head-h2);
	color: var(--prose-head-h2-color);
	transition: var(--theme-transition);
}
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
	font: var(--prose-head-h3);
	color: var(--prose-head-h3-color);
	transition: var(--theme-transition);
}
.prose h1 + p {
	margin-top: var(--prose-head-h1-margin);
}
.prose h2 + p {
	margin-top: var(--prose-head-h2-margin);
}
.prose h3 + p,
.prose h4 + p,
.prose h5 + p,
.prose h6 + p {
	margin-top: var(--prose-head-h3-margin);
}
.prose p + p {
	margin-top: var(--prose-text-margin);
}
.prose a {
	color: var(--prose-text-anchor-color);
	text-decoration: underline;
	transition: var(--theme-transition);
}
.prose small {
	font: var(--prose-text-small);
	color: var(--prose-text-small-color);
	transition: var(--theme-transition);
}
.prose hr {
	border: var(--prose-hr-border);
	transition: var(--theme-transition);
}
.prose *:not(pre) code {
	@include unantialiased;
	padding: var(--prose-code-padding);
	font: var(--prose-code);
	color: var(--prose-code-color);
	background-color: var(--prose-code-bg);
	border: var(--prose-code-border);
	border-radius: var(--prose-code-rounded);
	transition: var(--theme-transition);
}
.prose pre {
	@include unantialiased;
	padding: var(--prose-code-pre-padding);
	font: var(--prose-code-pre);
	color: var(--prose-code-pre-color);
	background-color: var(--prose-code-pre-bg);
	border: var(--prose-code-pre-border);
	border-radius: 0; // Reset
	transition: var(--theme-transition);

	/*
	 * Overrides
	 */

	margin-left: rem(-16);
	padding-left: rem(16);

	margin-right: rem(-16);
	padding-right: rem(16);
}
@media (min-width: breakpoint(sm)) {
	.prose pre {
		margin-left: 0; // Reset
		margin-right: 0; // Reset
		padding: var(--prose-code-pre-padding);
		border-radius: var(--prose-code-pre-rounded);
	}
}
