@use "duomo" as *;

:root {
	--root-bg: hsl(var(--cool-gray-50));
	--placeholder-bg-default: var(--cool-gray-300);
	--border-color-default: var(--cool-gray-200);
}

[data-theme="dark"] {
	--root-bg: #090c14;
	--placeholder-bg-default: var(--cool-gray-700);
	--border-color-default: var(--cool-gray-900);
}

:root {
	background-color: var(--root-bg);
	transition: var(--theme-transition);
}

.bg-placeholder,
[class^="border-"],
[class*=" border-"] {
	transition: var(--theme-transition);
}

/*
 * Themes
 */

// TODO: Change `transparent` to `color(transparent)`.

// prettier-ignore
$light: (
	btn-text-color: color(white, 0.95),
	btn-bg: color(green-500),
	btn-shadow: (shadow(sm), shadow(lg)),






	App-bg: color(white),
	App-shadow: (0 0 0 1px color(cool-gray-200), shadow(xs), shadow(md)),
	SearchBar-bg: color(white),
	Sidebar-bg: color(cool-gray-50),
	ToolbarPreview-bg: color(white),
	Card-shadow: 0 0 0 1px color(cool-gray-200),
	SVG-color: color(cool-gray-800),
	FadedSVG-color: color(cool-gray-800),
	FadedSVG-opacity: 0.33,
	Text-color: color(cool-gray-800),
	GrayUI-bg: color(cool-gray-100),
	GrayUI-shadow: 0 0 0 1px transparent,
	RaisedUI-bg: color(white),
	RaisedUI-shadow: (shadow(px), shadow(xs), shadow(sm)),
	RaisedUISeparator-bg: color(cool-gray-100),
);

// prettier-ignore
$dark: (
	btn-text-color: color(white, 0.95),
	btn-bg: color(red-500),
	btn-shadow: (shadow(sm), shadow(lg)),






	App-bg: color(cool-gray-800),
	App-shadow: (0 0 0 1px color(cool-gray-700), shadow(xs), shadow(md)),
	SearchBar-bg: color(cool-gray-800),
	Sidebar-bg: color(cool-gray-800),
	ToolbarPreview-bg: color(cool-gray-800),
	Card-shadow: 0 0 0 1px color(cool-gray-600),
	SVG-color: color(cool-gray-200),
	FadedSVG-color: color(cool-gray-200),
	FadedSVG-opacity: 0.33,
	Text-color: color(cool-gray-200),
	GrayUI-bg: transparent,
	GrayUI-shadow: 0 0 0 1px color(cool-gray-600),
	RaisedUI-bg: transparent,
	RaisedUI-shadow: 0 0 0 1px color(cool-gray-600),
	RaisedUISeparator-bg: color(cool-gray-600),
);

// prettier-ignore
@at-root {
	@include themes((
		light: $light,
		dark: $dark,
		duration: 700ms,
		timing: timing(ease-out),
	));
}
