$xs: 40 * 16 + px; // @media (min-width:  640px)
$sm: 48 * 16 + px; // @media (min-width:  768px)
$md: 56 * 16 + px; // @media (min-width:  896px)
$lg: 64 * 16 + px; // @media (min-width: 1024px)
$xl: 80 * 16 + px; // @media (min-width: 1280px)

// prettier-ignore
$sans:
	ui-sans-serif,
	system-ui,
	-apple-system,
	BlinkMacSystemFont,
	"Segoe UI",
	Roboto,
	"Helvetica Neue",
	Arial,
	"Noto Sans",
	sans-serif,
	"Apple Color Emoji",
	"Segoe UI Emoji",
	"Segoe UI Symbol",
	"Noto Color Emoji";

// prettier-ignore
$mono:
	ui-monospace,
	Menlo,
	Monaco,
	Consolas,
	"Liberation Mono",
	"Courier New",
	monospace;
