@use "../node_modules/@zaydek/duomo" as * with (
	$breakpoint-map: (
		// xs: 512,
		sm: 640,
		md: 768,
		lg: 1024,
		xl: 1344, // Changed from `1280`
	)
);

// .t-16 {
// 	top: rem(16);
// }
//
// @each $k, $v in $breakpoint-map {
// 	@media (min-width: px($v)) {
// 		.#{$k}\:t-16 {
// 			top: rem(16);
// 		}
// 	}
// }

// // https://ratiobuddy.com
// .square {
// 	position: relative;
// }
// .square::before {
// 	display: block;
// 	content: "";
// 	width: 100%;
// 	padding-top: (1 / 1) * 100%;
// }
// .square > * {
// 	position: absolute;
// 	top: 0;
// 	right: 0;
// 	bottom: 0;
// 	left: 0;
// }

// .bento-box {
// 	display: grid;
// 	grid-template-rows: 0.62fr 0.38fr;
// 	grid-template-columns: 0.62fr 0.14fr 0.24fr;
// 	grid-template-areas:
// 		"a b b"
// 		"a d c";
// 	gap: rem(12);
//
// 	height: rem(320);
//
// 	> * {
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 	}
//
// 	> *:nth-child(1) {
// 		grid-area: a;
// 	}
// 	> *:nth-child(2) {
// 		grid-area: b;
// 	}
// 	> *:nth-child(3) {
// 		grid-area: c;
// 	}
// 	> *:nth-child(4) {
// 		grid-area: d;
// 	}
//
// 	> *:nth-child(1) > svg {
// 		width: rem(104);
// 		height: rem(104);
// 	}
// 	> *:nth-child(2) > svg {
// 		width: rem(64);
// 		height: rem(64);
// 	}
// 	> *:nth-child(3) > svg {
// 		width: rem(40);
// 		height: rem(40);
// 	}
// 	> *:nth-child(4) > svg {
// 		width: rem(24);
// 		height: rem(24);
// 	}
// }
