@mixin base {
	* + * {
		margin-top: rem($fs);
		@media (min-width: $sm) {
			& {
				margin-top: rem($sm-fs);
			}
		}
	}
	& > *:first-child {
		margin-top: 0;
	}

	& {
		font: 400 rem($fs) / 1.6 $sans;
		color: var(--gray-800);
		@media (min-width: $sm) {
			& {
				font: 400 rem($sm-fs) / 1.6 $sans;
			}
		}
	}

	em {
		font-style: italic;
	}
	strong {
		font-weight: 600;
	}
	:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) > a {
		text-decoration: underline;
		color: var(--gray-600);
	}
	small {
		font-size: $fs-small-em;
	}
}
