@mixin code {
	*:not(pre) > code {
		@include no-macos-retina;

		padding: em(2) em(4);
		font-size: $fs-small-em;
		color: var(--blue-600);
		background-color: var(--white);
		border: 1px solid var(--gray-300);
		border-radius: em(4);
	}

	pre {
		@include no-macos-retina;

		margin: rem(24) rem(-24);
		padding: rem(12) rem(24);
		background-color: var(--gray-800);
		font: 400 $fs-small-em / 1.6 $mono;
		color: var(--white);
		border-radius: 0;
		@media (min-width: $sm) {
			& {
				margin: rem(24) 0;
				border-radius: rem(6);
			}
		}
	}
}
