@mixin lists {
	$inset: 24;

	ul {
		margin-left: rem($inset);
	}
	ul li {
		margin: rem(4) 0;
		@media (min-width: $sm) {
			margin: rem(6) 0;
		}
	}
	ul li::before {
		margin-left: rem(-1 * $inset);
		position: absolute;
		content: "• ";
		color: var(--blue-500);
	}

	ol {
		margin-left: rem($inset);
	}
	ol li {
		margin: rem(4) 0;
		@media (min-width: $sm) {
			margin: rem(6) 0;
		}
	}
	ol li:first-of-type {
		counter-reset: count;
	}
	ol li::before {
		margin-left: rem(-1 * $inset);
		position: absolute;
		content: counter(count) ". ";
		color: var(--blue-500);

		// Etc.
		counter-increment: count;
		font-feature-settings: "tnum";
	}
}
